<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.copyx.androidstudy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".TestService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".challenge.TwoButtonsOnBottomActivity" />
        <activity android:name=".challenge.TopMiddleBottomButtonsActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".TableLayoutActivity" />
        <activity android:name=".challenge.SwitchBetweenTwoImageViewActivity" />
        <activity android:name=".challenge.CountLettersInSMSInputScreen" />
        <activity android:name=".FrameLayoutActivity" />
        <activity android:name=".TextAttributeTesterActivity" />
        <activity android:name=".InflationActivity" />
        <activity
            android:name=".SetResultActivity"
            android:label="액티비티 종료 응답 연습" />
        <activity android:name=".IntentPracticeActivity" />
        <activity android:name=".PassingParcelableActivity" />
        <activity android:name=".ActivityLifeCycleActivity" />
        <activity android:name=".ServicePracticeActivity" />

        <receiver
            android:name=".SMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".SMSActivity" />

        <activity android:name=".challenge.Challenge05LoginActivity" />
        <activity android:name=".challenge.Challenge05MainMenuActivity" />
        <activity android:name=".TouchGestureKeyEventActivity" />
        <activity android:name=".FocusEventActivity" />
        <activity android:name=".OrientationActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ToastPracticeActivity" />
        <activity android:name=".DialogPracticeActivity" />
        <activity android:name=".ProgressBarPracticeActivity" />
        <activity android:name=".AnimationPracticeActivity" />
        <activity android:name=".PageSlidingActivity" />
        <activity android:name=".FragmentPracticeActivity" />
        <activity android:name=".TwoFragmentInOneActivity" />
        <activity android:name=".TabPracticeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".WebViewPracticeActivity" />
        <activity android:name=".KeypadPracticeActivity" />
        <activity android:name=".NinePatchPracticeActivity" />
        <activity android:name=".BitmapButtonActivity" />
        <activity android:name=".ListViewPracticeActivity" />
    </application>

</manifest>